@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans:
    'Space Grotesk', system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue', arial,
    sans-serif;
}

:root {
  --radius: 0.3rem;
  --background: oklch(100% 0 0deg);
  --foreground: oklch(14.1% 0.005 285.823deg);
  --card: oklch(100% 0 0deg);
  --card-foreground: oklch(14.1% 0.005 285.823deg);
  --popover: oklch(100% 0 0deg);
  --popover-foreground: oklch(14.1% 0.005 285.823deg);
  --primary: oklch(79.5% 0.184 86.047deg);
  --primary-foreground: oklch(42.1% 0.095 57.708deg);
  --secondary: oklch(96.7% 0.001 286.375deg);
  --secondary-foreground: oklch(21% 0.006 285.885deg);
  --muted: oklch(96.7% 0.001 286.375deg);
  --muted-foreground: oklch(55.2% 0.016 285.938deg);
  --accent: var(--primary);
  --accent-foreground: oklch(21% 0.006 285.885deg);
  --destructive: oklch(57.7% 0.245 27.325deg);
  --border: oklch(92% 0.004 286.32deg);
  --input: oklch(92% 0.004 286.32deg);
  --ring: oklch(79.5% 0.184 86.047deg);
  --chart-1: oklch(64.6% 0.222 41.116deg);
  --chart-2: oklch(60% 0.118 184.704deg);
  --chart-3: oklch(39.8% 0.07 227.392deg);
  --chart-4: oklch(82.8% 0.189 84.429deg);
  --chart-5: oklch(76.9% 0.188 70.08deg);
  --sidebar: oklch(98.5% 0 0deg);
  --sidebar-foreground: oklch(14.1% 0.005 285.823deg);
  --sidebar-primary: oklch(79.5% 0.184 86.047deg);
  --sidebar-primary-foreground: oklch(42.1% 0.095 57.708deg);
  --sidebar-accent: oklch(96.7% 0.001 286.375deg);
  --sidebar-accent-foreground: oklch(21% 0.006 285.885deg);
  --sidebar-border: oklch(92% 0.004 286.32deg);
  --sidebar-ring: oklch(79.5% 0.184 86.047deg);
}

.dark {
  --background: oklch(22% 0.0097 285.56deg);
  --foreground: oklch(98.5% 0 0deg);
  --card: oklch(21% 0.006 285.885deg);
  --card-foreground: oklch(98.5% 0 0deg);
  --popover: oklch(21% 0.006 285.885deg);
  --popover-foreground: oklch(98.5% 0 0deg);
  --primary: oklch(79.5% 0.184 86.047deg);
  --primary-foreground: oklch(42.1% 0.095 57.708deg);
  --secondary: oklch(27.4% 0.006 286.033deg);
  --secondary-foreground: oklch(98.5% 0 0deg);
  --muted: oklch(27.4% 0.006 286.033deg);
  --muted-foreground: oklch(70.5% 0.015 286.067deg);
  --accent: var(--primary);
  --accent-foreground: oklch(98.5% 0 0deg);
  --destructive: oklch(70.4% 0.191 22.216deg);
  --border: oklch(100% 0 0deg / 10%);
  --input: oklch(100% 0 0deg / 15%);
  --ring: oklch(55.4% 0.135 66.442deg);
  --chart-1: oklch(48.8% 0.243 264.376deg);
  --chart-2: oklch(69.6% 0.17 162.48deg);
  --chart-3: oklch(76.9% 0.188 70.08deg);
  --chart-4: oklch(62.7% 0.265 303.9deg);
  --chart-5: oklch(64.5% 0.246 16.439deg);
  --sidebar: oklch(21% 0.006 285.885deg);
  --sidebar-foreground: oklch(98.5% 0 0deg);
  --sidebar-primary: oklch(79.5% 0.184 86.047deg);
  --sidebar-primary-foreground: oklch(42.1% 0.095 57.708deg);
  --sidebar-accent: oklch(27.4% 0.006 286.033deg);
  --sidebar-accent-foreground: oklch(98.5% 0 0deg);
  --sidebar-border: oklch(100% 0 0deg / 10%);
  --sidebar-ring: oklch(55.4% 0.135 66.442deg);
}

@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(95.16% 0.0242 343.23);
  --secondary-background: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(71.5% 0.197 354.23);
  --border: oklch(0% 0 0);
  --ring: oklch(0% 0 0);
  --overlay: oklch(0% 0 0 / 0.8);
  --shadow: 2px 2px 0px 0px var(--border);
  --chart-1: #fc64ab;
  --chart-2: #facc00;
  --chart-3: #ff7a05;
  --chart-4: #ff4d50;
  --chart-5: #7a83ff;
  --chart-active-dot: #000;
  --destructive: oklch(57.7% 0.245 27.325deg);
}

.dark {
  --background: oklch(26.3% 0.054 358.23);
  --secondary-background: oklch(23.93% 0 0);
  --foreground: oklch(92.49% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(65.98% 0.2407 358.64);
  --border: oklch(0% 0 0);
  --ring: oklch(100% 0 0);
  --shadow: 2px 2px 0px 0px var(--border);
  --chart-1: #fb3290;
  --chart-2: #e0b700;
  --chart-3: #eb6d00;
  --chart-4: #ff6669;
  --chart-5: #7a83ff;
  --chart-active-dot: #fff;
}

@theme inline {
  --color-main: var(--main);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-main-foreground: var(--main-foreground);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --spacing-boxShadowX: 2px;
  --spacing-boxShadowY: 2px;
  --spacing-reverseBoxShadowX: -2px;
  --spacing-reverseBoxShadowY: -2px;
  --radius-base: 5px;
  --shadow-shadow: var(--shadow);
  --font-weight-base: 500;
  --font-weight-heading: 700;
}

@layer base {
  body {
    @apply text-foreground font-base bg-background;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}
