.heading-1 {
  @apply text-main text-3xl leading-tight font-semibold md:text-4xl;
}

.about-developer-name {
  @apply text-main-foreground;
}

.vertical-header {
  font-size: clamp(2rem, 5vw, 3rem);
}

.typeography-clamp-sm {
  font-size: clamp(1.5rem, 8vw, 8rem);
}

.typeography-clamp {
  font-size: clamp(0.7rem, 2vw, 2rem);
}

.typeography-clamp-header {
  font-size: clamp(1rem, 2vw, 2rem);
}

.p-clamp {
  font-size: clamp(1rem, 1.5vw, 2rem);
}

.vertical-header-size {
  font-size: clamp(2rem, 20vw, 10rem);
}
