.heading-1 {
  @apply text-main text-3xl leading-tight font-semibold md:text-4xl;
}

.heading-2 {
  @apply text-foreground text-2xl leading-tight font-semibold md:text-3xl;
}

.about-developer-name {
  @apply text-foreground;
}

.vertical-header {
  @apply text-foreground;

  font-size: clamp(2rem, 5vw, 2rem);
  writing-mode: vertical-lr;
  rotate: 180deg;
  display: flex;
  align-items: flex-start;
}

@media screen and (width <= 640px) {
  .vertical-header {
    writing-mode: horizontal-tb;
    rotate: 360deg;
  }
}

.typeography-clamp-sm {
  font-size: clamp(1.5rem, 8vw, 8rem);
}

.typeography-clamp {
  font-size: clamp(0.7rem, 2vw, 2rem);
}

.typeography-clamp-header {
  font-size: clamp(1rem, 2vw, 2rem);
}

.p-clamp {
  font-size: clamp(1rem, 1.5vw, 2rem);
}

.width-truncate-ch {
  @apply max-w-[25ch];
}

@media screen and (width <= 650px) {
  .width-truncate-ch {
    @apply max-w-[20ch];
  }
}
